<!-- Generated template for the Test component -->
<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button large icon-only color="secundary">
        <ion-icon name="create"></ion-icon>
      </button>
      <button ion-button large icon-only color="secundary">
        <ion-icon name="add-curcle"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>NOW</ion-title>
    <ion-buttons right>
      <button ion-button large icon-only>
        <ion-icon name="card"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  {{text}}
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>Bye World!
    </ion-title>
  </ion-toolbar>
</ion-footer>
